body {
  background-color: #fafafa;
}

.Body {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  color: #1d242b;
  text-align: center;
}

.App {
  color: #fafafa;
  background: rgb(0, 119, 192);
  background: linear-gradient(
    180deg,
    rgba(0, 119, 192, 1) 0%,
    rgba(29, 36, 43, 1) 100%
  );
  margin: auto;
  height: auto;
  width: 500px;
  padding: 0px;
  border-radius: 30px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Icon {
  padding-bottom: 0px;
}

.Info {
  padding-left: 10px;
  font-size: 30px;
}

.extraInfo {
  margin-top: 30px;
  font-size: 15px;
  text-align: left;
}

.Form {
  height: 50px;
  margin-top: 20px;
  color: #1d242b;
}

.search {
  width: 380px;
  border: none;
  background-color: #fafafa;
}

.SearchButton {
  border: none;
  color: rgba(29, 36, 43);
}

li {
  list-style: none;
}

.forecastTemp-min {
  opacity: 0.4;
}

.footer {
  font-size: 9px;
}

.update {
  font-size: 13px;
  text-align: left;
}
